/* .body-p{
	width: 1100px;
}
 

.logo-p{
	 width: 180px;
	 max-width: 180px;
	 display: block;
	 float: left;
}
.hdr{
	 width: 920px;
	 max-width: 920px;
	 display: block;
	 float: right;
} 
.hdr-p p{
	line-height: 1;
}
table td {
	vertical-align: middle;
}
table td img{
	vertical-align: middle;
	margin-bottom: -2px;
} */